/td5/correction kev/Threads_TD01/build/
/td5/correction kev/Threads_TD01/dist/
/td5/correction kev/Threads_TD01suite/build/
/td5/correction kev/Threads_TD01suite/dist/
/td7/td7_exo_1/dist/
/td7/td7_exo_1/build/
/td7/td7_exo_1_p1/build/
/td7/td7_exo_1_p1/dist/
/td7/td7_exo_1_p2/build/
/td7/td7_exo_1_p2/dist/
/td7/td7_exo_1_p3/build/
/td7/td7_exo_1_p3/dist/